@{
    ViewBag.Title = "Home Page";
}

<p></p>
 

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data"})) {

    <!--<input id="cardnumber" type="number" />-->



    @Html.TextBox("cardnumber");

     





    <button type="submit">Choose</button>
}

@{
    if (@ViewBag.CardResult != null) {
        @ViewBag.CardResult
    }
}

